.idea/
*.iml
*.classes
*.jar
*.war
*.ear
target
.settings
.classpath
.project
.metadata/
classes/
logs/
*.log
rebel.xml

*.xcuserstate
project.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
UserInterface.xcuserstate